* {
    margin: 0;
    padding: 0;
}

.head {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    background-color: cyan;
    margin: 5px;
}

.main-Container {
    height: auto;
    background-color: darkcyan;
    width: auto;
    row-gap: 30px;
    column-gap: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.flex-items {
    border: 2px solid white;
    background-color: rgb(39, 29, 29);
    height: 250px;
    width: 450px;
    padding: 10px;
    transition: transform 1s;
}
.flex-items:hover{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    transform: scale(1.1);
    border: 2px solid black;
}

#box1 {
    display: grid;
    grid-template-rows: auto 100px 100px;
    gap: 10px;
    /* padding: 10px; */
}

.innerbox {
    margin: 10px;
    border: 1px solid white;
    width: auto;
    display: grid;
    border-radius: 5px;
}
.innerbox:hover{
    border: 2px solid;
}

#mainbox {
    border: 1px solid white;
    margin: 5px 5px 5px 55px;
    width: auto;
    height: 10px;
    background-color: white;
}

.whiteline {
    grid-column: 1/4;
}

#subbox1 {
    background-color: brown;
}

#subbox2 {
    /* background-color: orange; */
    background-image: url("images/jumpingpeng.webp");
    background-size: cover;
}

#subbox3 {
    background-color: rgb(223, 223, 91);
}

#subbox4 {
    background-color: rgb(55, 83, 13);
}

#subbox5 {
    background-color: aquamarine;
}

#subbox6 {
    background-color: rgb(71, 164, 164);
}

#box2 {
    display: grid;
    grid-template-rows: auto 100px 100px;
    grid-template-columns: auto auto auto;
    gap: 5px;
    /* padding: 10px; */
}

#subbox7 {
    grid-column: 1/3;
    background-color: brown;
}

#subbox8 {
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: orange;
}

#subbox9 {
    /* background-color: aquamarine; */
    background-image: url("images/broad-jump.gif");
    background-size: cover;
}

#subbox10 {
    background-color: rgb(71, 164, 164);
}
#box3{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-rows: auto 75px 100px 55px;
}
#subbox11 {
    grid-column: 1/4;
    background-color: brown;
}
#subbox12{
    background-color: aquamarine;
 }

 #subbox13 {
    background-color: rgb(71, 164, 164);
    grid-column: 2/4;
 }

 #subbox14 {
   background-color:rgb(55, 83, 13) ;
   grid-column: 1/4;
 }

 #box4{
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-rows: auto 65px 95px 45px;
 }
 .whiteline1{
    grid-column: 1/5;
 }
 #subbox15{
    background-color: hotpink;
    grid-column: 1/3;
 }
 #subbox16{
    background-color: rgb(235, 153, 22);
    grid-column: 3/5;
 }
 #subbox17{
    background-color: rgb(9, 221, 45);
 }
 #subbox18{
    background-color: rgb(250, 57, 4);
    grid-column: 2/5;
 }
 #subbox19{
    grid-column: 1/5;
    background-color: darkgrey;
 }
 #box5{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto 65px 65px 65px;
 }
 .whiteline2{
    grid-column: 1/7;
    height: 35px !important;
 }
 #subbox20{
    background-color: darkgoldenrod;
    border-radius: 50%;
 }
 #subbox21{
    background-color: rgb(13, 221, 214);
    
 }
 #subbox22{
    background-color: rgb(241, 10, 141);
 }
 #subbox23{
    background-color: rgb(218, 5, 37);
    border-radius: 50%;
 }
 #subbox24{
    background-color: rgb(77, 191, 65);
 }
 #subbox25{
    background-color: rgba(91, 134, 133, 0.147);
 }
 #subbox26{
    background-color: rgb(209, 235, 115);
 }
 #subbox27{
    background-color: rgb(5, 33, 92);
    border-radius: 50%;
 }
 #subbox28{
    background-color: rgb(3, 248, 52);
 }
 #subbox29{
    background-color: antiquewhite;
 }
 #subbox30{
    background-color: darkgreen;
    border-radius: 50%;
 }
 #subbox31{
    background-color: darkorange;
 }
 #subbox32{
    background-color: lightgoldenrodyellow;
 }
 #subbox33{
    background-color: darkkhaki;
 }
 #subbox34{
    background-color: darkmagenta;
    border-radius: 50%;
 }
 #subbox35{
    background-color: maroon;
 }
 #subbox36{
    background-color: rgb(173, 55, 227);
 }
 #subbox37{
    background-color: rgb(207, 184, 99);
    border-radius: 50%;
 }
 #box6{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 35px 35px 35px 35px 35px;
    row-gap: 5px;
 }
 #subbox38{
    background-color: firebrick;
    grid-column: 1/3;
    height: 30px;
 }
 #subbox40{
    background-color: cyan;
    grid-column: 1/3;
    grid-row: 4/6;
    height: 65px;
 }
 #subbox42{
    grid-column: 4/5;
    background-color: cornflowerblue;
    height: 30px;
    grid-row: 6/7;
 }
 #subbox39A{
    background-color: darkorange;
    height: 30px;
 }
 #subbox39B{
    background-color: rgb(229, 7, 7);
    height: 30px;
 }
 #subbox39C{
    background-color: rgb(158, 7, 185);
    height: 30px;
 }
 #subbox39D{
    background-color: rgb(209, 173, 130);
    height: 30px;
 }
 #subbox39E{
    background-color: rgb(179, 236, 11);
    height: 30px;
 }
 #subbox39F{
    background-color: rgba(163, 209, 130, 0.851);
    height: 30px;
 }
 #subbox39G{
    background-color: rgb(254, 77, 7);
    height: 30px;
 }
 #subbox41{
    background-color: lightgoldenrodyellow;
    height: 30px;
    grid-column: 3/4;
 }
 #subbox43{
    background-color: darkkhaki;
    grid-column: 1/4;
    height: 30px;
 }

 #box7{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 160px;
 }
 #subbox44{
    background-color: coral;
    grid-column: 1/3;
 }
 #subbox45{
    background-color: gold;
    grid-column: 3/5;
 }
 #subbox46{
    background-image: url("images/jumpingpeng.webp");
    background-size: cover;
    grid-column: 1/3;
    height: 150px;
 }
 #subbox47{
    background-color: rgb(159, 231, 35);
    grid-column: 3/5;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 150px;

 }
 #subbox48{
    background-color: rgb(4, 162, 4);
    grid-column: 1/3;
 }
 #subbox49{
    background-color: grey;
 }
 #subbox50{
    background-color: red;
 }

#box8{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}
.whiteline3{
    grid-column: 1/6;
}
#subbox51{
    background-color: rgb(238, 8, 238);
}
#subbox54{
    background-color: lawngreen;
    grid-column: 3/6;
}
#subbox55{
    background-color: darkorange;
    grid-column: 1/6;
}
#subbox52{
    background-color: floralwhite;
}
#subbox53{
    background-color: cyan;
}
#box9{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}
#subbox56{
    grid-column: 1/4;
    background-color: yellow;
}
#subbox57{
    grid-row: 3/5;
    background-image: url("images/broad-jump.gif");
    background-size: cover;
}
#subbox58{
    background-color: darkgray;
    grid-column: 2/4;
}
#subbox59{
    background-color: rgb(235, 91, 7);
}
#subbox60{
    background-color: rgb(248, 10, 153);
}